.page-header
  %h1 ユーザー登録

.row
  .col-xs-12
    = bootstrap_form_for(resource, url: user_registration_path(resource_name)) do |f|
      = f.text_field :user_nickname, autofocus: true
      = f.email_field :email, autofocus: true
      = f.password_field :password, autocomplete: 'off'
      = f.password_field :password_confirmation, autocomplete: 'off'

      .form_group
        .col-sm-offset-2.col-sm-10= f.submit '登録する', class: 'btn btn-lg btn-success'
      

      
