= bootstrap_form_for(@article) do |f|

    = f.alert_message '以下の項目を修正して下さい。'

    = f.text_field :title, autofocus: true

    = f.text_area :body_source, rows: 20

    .form-group
    = f.button '公開する', name: 'ope[cmd]', value: 'publish', class: 'btn btn-lg btn-default'

    .pull-right
    = link_to '削除する', @article, :method => :delete, :data => { :confirm => "本当によろしいですか？"}, class: 'btn btn-danger btn-lg'
