.col-sm-3
  = render partial: 'private/settings/shared/menu'

.col-sm-9
  = bootstrap_form_for current_user, url: settings_accounts_path, method: :patch do |f|

    = f.text_field :user_nickname
    = f.text_field :email
    
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit '更新する', class: 'btn btn-primary'

    .row
      .col-sm-offset-2.col-sm-10
