- if current_user == @article.user
  %div
    .pull-right
      = link_to '編集', edit_article_path(@article)
  
%h1
  /- binding.pry
  = link_to @article.title, user_article_path(@article.user.user_nickname, @article)
  
%div 
  = raw @article.body_source

%div
  .pull-right
  
  .clearfix

%hr

= render partial: 'comments', locals: {comments: @article.comments.order(:created_at)}

/comment入力フォーム
= render partial: 'publish/comments/form', locals: {comment: @comment}

